<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title | default : "Booster Blog" }}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
  </head>

  <body class="page">
    <header class="page-header">
      <h1 class="blog-title">
        <a href="{{ '/' | url }}">Booster Blog</a>
      </h1>
    </header>

    <main class="page-content">
      <div class="content-wrapper">{{ content }}</div>
    </main>

    <footer class="page-footer">
      <div class="content-wrapper">
        From zero to your own blog — with Eleventy and GitHub Pages
      </div>
    </footer>
  </body>
</html>
